<table class="pretty">  
  <tr>  
    <th>ID</th>  
    <th>Name</th>  
    <th>Latitude</th>  
    <th>Longitude</th>  
  </tr>  
  <% for r in @records %>  
    <tr>  
      <%# puts r%>
    <td><%= r[0] %></td>  
    <td><%= r[1] %></td>  
    <td><%= r[4] %></td>  
    <td><%= r[5] %></td>  
  </tr>  
  <% end %>  
</table>  

